.Scrolled{
    overflow-x: scroll;
}

/* Tambahkan di global CSS jika tidak pakai plugin */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
