:root {
    --width: 200px;
    --height: 375px;
    --quantity: 5;
}

.bgHal5 {
    background-color: black;
}

.containerHal5 {
    background: none;
    overflow: hidden;
}

.card-image {
    grid-area: 1 / 1 / 2 / 2;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-content {
    grid-area: 1 / 1 / 2 / 2;
    opacity: 0;
    transition: opacity 0.5s;
}

.card-container-wrapper {
    transition: 0.5s;
    padding-left: 50px; /*perlu perbaikan agar center dgn code yg rapi*/
}

.blur-container {
    position: relative;
    transition: 0.5s;
}

/* Responsive adjustments */
@media (min-width: 768px) {
    .containerHal5 {
        height: 100vh;
        width: 100vw;
        overflow: hidden;
    }
}