:root {
    --width: 200px;
    --height: 375px;
    --quantity: 5;
}

.bgHal5 {
    background-color: black;
}

.containerHal5 {
    background: none;
    overflow: hidden;
    backdrop-filter: blur(100px);
    overflow-x: hidden;
    overflow-y: hidden;
    touch-action: pan-y;
    -webkit-overflow-scrolling: auto;
}