:root {
    --width: 200px;
    --height: 375px;
    --quantity: 5;
}

.bgHal5 {
    background-color: black;
}

.containerHal5 {
    background: none;
    overflow: hidden;
    backdrop-filter: blur(100px);
}

/* Responsive adjustments */
@media (min-width: 768px) {
    .containerHal5 {
        height: 100vh;
        width: 100vw;
        overflow: hidden;
    }
}