.Navbar {
    transform: translateY(-100%);
    transition: 0.5s;

}

.active {
    transform: translateY(0%);
    transition: 0.5s;
}

.scrolled {
    backdrop-filter: blur(10px);
}

.lgHeader li:hover {
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff;
    transition: 0.1s;
}

/* masih css biasa krn tailwind gagal import */
@media (min-width: 1024px) {
  .onHamburger {
    display: none;
  }
}