@import "tailwindcss";


.spray1Decor {
    background: -webkit-radial-gradient(circle at 50% 50%, rgba(255, 165, 0, 1) 20%, rgba(255, 69, 0, 1) 80%);
    background: radial-gradient(circle at 50% 50%, rgba(255, 165, 0, 1) 20%, rgba(255, 69, 0, 1) 80%);
    position: absolute;
    width: 300px;
    height: 300px;
    top: -20vh;
    left: 90vw;
    filter: blur(90px);
    border-radius: 5vw;
}

.spray2Decor {
    background: -webkit-radial-gradient( circle at 40% 55%, rgba(255, 255, 255, 1) 25%, rgba(67, 67, 240, 0.8) 80%);
    background: radial-gradient( circle at 40% 55%, rgba(255, 255, 255, 1) 25%, rgba(0, 0, 255, 0.8) 80%);
    position: absolute;
    width: 200px;
    height: 300px;
    top: 80vh;
    left: -5vw;
    filter: blur(70px);
    border-radius: 10vw;
    z-index: 0;
}

.spray2-2Decor {
    background: -webkit-radial-gradient( circle at 60% 70%, rgba(255, 255, 255, 1) 20%, rgba(255, 69, 0, 1) 80%);
    background: radial-gradient( circle at 60% 70%, rgba(255, 255, 255, 1) 20%, rgba(255, 69, 0, 1) 80%);
    position: absolute;
    width: 200px;
    height: 300px;
    top: 80vh;
    left: -5vw;
    filter: blur(70px);
    border-radius: 10vw;
    z-index: 0;
}


.spray3Decor {
    background: radial-gradient( circle at 50% 50%, rgba(255, 69, 0, 1) 40%, rgba(255, 165, 0, 1) 60%);
    position: absolute;
    width: 250px;
    height: 250px;
    top: 130vh;
    right: -7vw;
    filter: blur(70px);
    border-radius: 200px;
    z-index: 1;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-8%);
    }
    60% {
        transform: translateY(-4%);
    }
    80% {
        transform: translateY(-1%);
    }
}


.like {
    animation: bounce 1.8s ease-in-out infinite;
}

.love {
    animation: bounce 1.5s ease-in-out infinite;
}

/* Untuk HP / layar kecil */
@media (max-width: 768px) {
    .spray3Decor {
      width: 150px;
      height: 150px;
      top: 230vh;
      right: -10vw;
      filter: blur(50px);
      border-radius: 150px;
    }

    .spray1Decor {
        width: 200px;
        height: 200px;
        top: -20vh;
        left: 85vw;
        filter: blur(60px);
        border-radius: 10vw;
      }
    
      .spray2Decor {
        width: 150px;
        height: 250px;
        top: 85vh;
        left: -10vw;
        filter: blur(50px);
        border-radius: 15vw;
      }
      .spray2-2Decor {
        width: 150px;
        height: 250px;
        top: 85vh;
        left: -10vw;
        filter: blur(50px);
        border-radius: 15vw;
      }
}

/* Untuk HP / layar kecil */
@media (max-width: 480px) {
    .spray3Decor {
      width: 150px;
      height: 150px;
      top: 140vh;
      right: -10vw;
      filter: blur(50px);
      border-radius: 150px;
    }

    .spray1Decor {
        width: 200px;
        height: 200px;
        top: -10vh;
        left: 70vw;
        filter: blur(60px);
        border-radius: 10vw;
      }
    
      .spray2Decor {
        width: 150px;
        height: 250px;
        top: 85vh;
        left: -20vw;
        filter: blur(50px);
        border-radius: 15vw;
      }
      .spray2-2Decor {
        width: 150px;
        height: 250px;
        top: 85vh;
        left: -20vw;
        filter: blur(50px);
        border-radius: 15vw;
      }
}

@media screen and (min-width:768px) and (max-width:1023px) {
  .spray1Decor {
    top: clamp(-150px, -28vh, -200px);
    left: clamp(700px, 85vw, 1000px)
  }

  .spray2Decor {
    top: clamp(1500px, 130vh, 3300px);
    width: clamp(200px, 30vw, 300px);
    left: clamp(-110px, -15vw, -200px);
    height: clamp(300px, 30vw, 400px);
  }

  .spray2-2Decor {
    top: clamp(1500px, 130vh, 3300px);
    width: clamp(200px, 30vw, 300px);
    left: clamp(-110px, -15vw, -200px);
    height: clamp(300px, 30vw, 400px);
  }

  .spray3Decor {
    top: clamp(1400px, 140vh, 3300px);
    width: clamp(300px, 40vw, 350px);
    height: clamp(300px, 40vw, 350px);
    filter: blur(90px);
    left: clamp(400px, 75vw, 700px);
  }

  .love {
    top: clamp(700px, 60vh, 1100px);
  }
}